<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var map_data = '{{ map_data | tojson }}';
    </script>
</head>
<body>
    <!-- <script src="{{ url_for('static', filename='libraries/p5.dom.js') }}"></script> -->
    <script src="{{ url_for('static', filename='libraries/p5.js') }}"></script>
    <script src="{{ url_for('static', filename='libraries/p5.collide2d.js') }}"></script>
    <script src="{{ url_for('static', filename='sketch.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/Player.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/Status.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/ArrayController.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/CollisionDetector.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/TurnController.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/Tile.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/Shot.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/Camera.js') }}"></script>
    <script src="{{ url_for('static', filename='classes/Crosshair.js') }}"></script>
    <style> body {padding: 0; margin: 0;} </style>
</body>
</html>
